*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.top-div {
  text-align: center;
}
.top-div h1 {
  color: blueviolet;
  background-color: black;
  border-radius: 10px;
}
.container {
  justify-content: center;
  align-content: center;
  display: flex;
  text-align: center;
  column-gap: 70px;
  flex-wrap: wrap;
  margin: 2rem 0;
}
.main-container h2 {
  color: green;
}
